.App {
  /* margin: 0;
  padding: 0; */
}
p {
  margin: 0;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;
  width: 100%
}

.App-link {
  color: #09d3ac;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  height: auto;
  background: #f8f8f8;
}
.single-user {
  width: 27%;
  border: 1px solid #eee;
  background:#fff;
  height: 150px;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px 25px 10px;
}
.second-div {
  display: flex;
  justify-content: space-between;
}
.second-div img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto!important;
  text-align: center
}
.single-user p {
  color: #333;
}
.single-user p:first-of-type {
  text-transform: capitalize;
}
.title {
  text-align: left;
  color: #003366;
  font-size: 16px
}
.github-link {
  text-decoration: none;
  color: #ff0033
}